* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
}

.app {
  background-color: #eee9;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: #3339;
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
}

.auth-container > h1 {
  font-size: 2em;
  margin: 24px;
}

.auth-container > p {
  margin: 16px;
  text-decoration: underline;
}

.auth-container > form {
  border: 1px solid #3339;
  padding: 20px;
  border-radius: 5px;
  background-color: #aaa9;

  display: flex;
  flex-direction: column;
}

.auth-container > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.auth-container > form > button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}
.issue{
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}
.issue button{
  margin:5px;
  padding:5px;
}

.public {
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.profile > h1 {
  margin: 8px;
  font-size: 2em;
  text-align: center;
}

.profile > h3 {
  margin: 16px 0;
  text-decoration: underline;
}

.profile > form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border: 1px solid #3339;
  background-color: #aaa9;
  padding: 16px;
  border-radius: 5px
}

.profile > form > input,
.profile > form > button {
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px
}



.home_container{

  display: grid;
  grid-template-areas:
    'menu main'
    'footer footer';
  background-color: #ddbea8; 
}


.menu { grid-area: menu;
      border: 1px black solid;
      background-color: blue;
    }
 
.menu {
      display: flex;
      flex-direction: column;
      align-items:baseline;
      height: 100vh;
      padding: 20px;
      
      width: max-content;
    }
    
    .menu > h1 {
      margin: 8px;
      font-size: 2em;
      text-align: center;
    }
    
    .menu > h3 {
      margin: 16px 0;
      text-decoration: underline;
    }
    
    .menu > form {
      display: flex;
      flex-direction: column;
      margin: 16px 0;
      border: 1px solid #3339;
      background-color: #aaa9;
      padding: 16px;
      border-radius: 5px
    }
    
    .menu > form > input,
    .menu > form > button {
      margin: 8px 0;
      padding: 8px;
      border-radius: 5px
    }

/* .main { grid-area: main;
      border: 1px black solid;
      background-color: greenyellow;
    }
    

.footer { grid-area: footer;
      border: 1px black solid;
      background-color: red;
    } */

.display{
  border: 1px solid #333;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.issue_grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;

}