* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
}

.app {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #3339;
  padding: 25px;
  background-color: blue;
  color: white;
}
.logout_btn{
  padding: 10px;
  border-radius: 10px;
}
.delete_btn{
  padding: 10px;
  border-radius: 10px;
}
.edit_btn{
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: white;
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
  
  border: 5px solid black;
  padding: 25px;
  margin-left: 150px;
  margin-right: 150px;
}
.inside-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
  background-color: red;
  border: 5px solid black;
  padding: 25px;
  margin-left: 150px;
  margin-right: 150px;
}

.auth-container > h1 {
  font-size: 2em;
  margin: 24px;
}

.auth-container > p {
  margin: 16px;
  text-decoration: underline;
}

.auth-container > form {
  border: 1px solid #3339;
  padding: 20px;
  border-radius: 5px;
  background-color: #aaa9;

  display: flex;
  flex-direction: column;
}

.auth-container > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.auth-container > form > button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}
.issue{
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  background-color: white;
}


.public {
  background-color: black;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.profile > h1 {
  margin: 8px;
  font-size: 2em;
  text-align: center;
}

.profile > h3 {
  margin: 16px 0;
  text-decoration: underline;
}

.profile > form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border: 1px solid #3339;
  background-color: #aaa9;
  padding: 16px;
  border-radius: 5px
}

.profile > form > input,
.profile > form > button {
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px
}



.home_container{

  display: grid;
  grid-template-areas:
    'menu main'
    'footer footer';
  background-color: #ddbea8; 
}


.menu { grid-area: menu;
      border: 1px black solid;
      background-color: blue;
    }
 
.menu {
      display: flex;
      flex-direction: column;
      align-items:baseline;
      height: 100vh;
      padding: 20px;
      
      width: max-content;
    }
    
    .menu > h1 {
      margin: 8px;
      font-size: 2em;
      text-align: center;
    }
    
    .menu > h3 {
      margin: 16px 0;
      text-decoration: underline;
    }
    
    .menu > form {
      display: flex;
      flex-direction: column;
      margin: 16px 0;
      border: 1px solid #3339;
      background-color: #aaa9;
      padding: 16px;
      border-radius: 5px
    }
    
    .menu > form > input,
    .menu > form > button {
      margin: 8px 0;
      padding: 8px;
      border-radius: 5px
    }

/* .main { grid-area: main;
      border: 1px black solid;
      background-color: greenyellow;
    }
    

.footer { grid-area: footer;
      border: 1px black solid;
      background-color: red;
    } */

.display{
  border: 1px solid #333;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.issue_grid{
  /* display: grid;
  grid-template-columns: auto auto ;
  grid-column-gap: 50px;
  grid-row-gap: 50px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
}
.userCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.publicIssuesHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.issue {
  border: 2px solid ;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 400px;
  margin: 20px auto 20px auto;
  background-color: blue;
}

.title{
  font-weight: bolder;
}